<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Accueil</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Données <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a ng-href="#/atmoscraper">Atmoscraping à la gare de Clermont Ferrand</a></li>
        </ul>
    </li>
    <li><a ng-href="#/chronolgies">Chronologies</a></li>
    <li><a ng-href="#/presentations">Présentations</a></li>
    <li><a ng-href="#/cours">Cours</a></li>
    <li><a href="http://vincent.mazenod.fr">Moi</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#">data.m4z3.me</a></h3>
</div>