<div class="jumbotron">
  <h1>le laboratoire de données de mazenovi</h1>
  <p class="lead">
    <img src="images/punk.jpg" alt="mazenovi"><br>
    espace de travail et d'expérimentation sur l'opendata, le web sémantique & la Sécurité des Système d'Informations (SSI)
  </p>
</div>

<div class="row marketing">
  <h4>Ici vous trouverez</h4>
  <ul>
    <li>des scrapers de données</li>
    <li>des traitements de données</li>
    <li>des graphiques de données</li>
  </ul>

  <h4>Vous y trouverez aussi</h4>
  <ul>
    <li>des chronolgies</li>
    <li>des présentations et cours divers</li>
  </ul>

  <h4>Vous aimez l'idée?</h4>
  <um>
    <li>Forker ce data lab et faites vous le même</li>
  </ul>
</div>